extends head

block content
    header
      h1 dni do matury
      nav
        - var isChecked = ['','','','']
        - isChecked[unit] = "checked"
        if year === 2020
          a(href="/miesiące")
            button(id="months" class=isChecked[3]) miesiące
          a(href="/")
            button(id="days" class=isChecked[2]) dni
          a(href="/godziny")
            button(id="hours" class=isChecked[1]) godziny
          a(href="/minuty")
            button(id="minutes" class=isChecked[0]) minuty
        else
          a(href=`/miesiące/${year}`)
            button(id="months" class=isChecked[3]) miesiące
          a(href=`/${year}`)
            button(id="days" class=isChecked[2]) dni
          a(href=`/godziny/${year}`)
            button(id="hours" class=isChecked[1]) godziny
          a(href=`/minuty/${year}`)
            button(id="minutes" class=isChecked[0]) minuty
    main
      div(id="timer")
        h2 Do matury #{year} #{zostacForm}
        span(id="mainUnit" value=initialTimersValues[0]) #{initialTimersValues[0]}
        span(id="subUnits" value=initialTimersValues[1]) #{initialTimersValues[1]}
      article
        h2
          | Matura rozpocznie się
          b  #{startDate}
          |  i będzie trwać do
          b  #{endDate}
          |. Rok szkolny dla klas maturalnych zakończy się
          b  #{schoolEndDate}
          |.
        h2
          label(for="year-select") Rok: 
          - var isSelected = [false,false,false,false,false]
          - isSelected[year%5] = true
          select(name="year" id="year-select")
            option(value="2020" selected=isSelected[0]) 2020
            option(value="2021" selected=isSelected[1]) 2021
            option(value="2022" selected=isSelected[2]) 2022
            option(value="2023" selected=isSelected[3]) 2023
            option(value="2024" selected=isSelected[4]) 2024
        h3
          | Source: 
          a(href="https://cke.gov.pl/egzamin-maturalny" target="_blank" rel="nofollow noopener") https://cke.gov.pl/egzamin-maturalny
          include noscript
    footer
      h2
        b Created by @mbledkowski
      div(id="socialIcons")
        a(href=`https://instagram.com/${links.ig}` target="_blank" rel="noopener")
          img(src="/img/social/instagram.svg" loading="lazy" alt="Instagram icon")
        a(href=`https://github.com/${links.github}` target="_blank"  rel="noopener")
          img(src="/img/social/github.svg" loading="lazy" alt="GitHub icon")
        a(href=`https://linkedin.com/in/${links.linkedin}` target="_blank" rel="noopener")
          img(src="/img/social/linkedin.svg" loading="lazy" alt="LinkedIn icon")
        // Icons from simpleicons.org
    include bottom